<!doctype HTML>
<html>
  <head>
      <meta charset="UTF-8">
      </script>
      <title>Drunkcraft Hub Page</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="styles/drunkcraftHub-0.0.0.css"/> 

      <link rel="stylesheet" type="text/css" href="styles/drunkcraftHub-0.0.0.css"/> 

      <script src="scripts/config.js"></script>
      <script src="scripts/vendor/requirejs/require.js" data-main="main.js"></script>
  </head>

  <body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">Drunkcraft Hub Page</a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="#/"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a></li>
                    <li><a href="/dokuwiki/"><i class="fa fa-book fa-fw"></i>&nbsp;Wiki</a></li>
                    <li><a href="http://drunkcraft.slack.com"><i class="fa fa-comments fa-fw"></i>&nbsp;Drunkcraft Slack</a></li>
                    <li><a href="https://github.com/DrunkcraftDevelopment/DrunkcraftHubSite"><i class="fa fa-github fa-fw"></i>&nbsp;Github</a></li>
                    <li><a href="#/about"><i class="fa fa-shield fa-fw"></i>&nbsp;About</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="main">
        <div ng-view></div>
    </div>
  </body>
</html>
